[{$smarty.block.parent}]
[{if $module_var=='bTRWToolsExceptionLogRSSFeedActive' && $confbools.$module_var}]
    [{assign var='aExceptionLogRSSLink' value=$oView->getExceptionLogRSSLink()}]
    <a href="[{$aExceptionLogRSSLink.link}]" target="_blank"><i>[{$aExceptionLogRSSLink.title}]</i></a>
[{/if}]
