[{$smarty.block.parent}]
[{if $bottom_buttons->category_resetnrofarticles}]
    <li>
         | <a [{if !$firstitem}]class="firstitem"[{assign var="firstitem" value="1"}][{/if}] id="btn.exportcategorytree" href="[{$oViewConf->getSelfLink()}]&cl=category_main&fnc=exportCategoryTree" target="edit">[{oxmultilang ident="TOOLTIPS_EXPORTCATEGORYTREE"}]</a>
    </li>
[{/if}]